@import url('https://fonts.googleapis.com/css2?family=Besley:ital,wght@0,400..900;1,400..900&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Spectral+SC:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap')

h1
    line-height: 1
    font-family: "Spectral SC", serif
    font-weight: 700
    font-style: normal

h2, h3, h4, h5, h5
    margin-top: 2em
    line-height: 0.4
    font-family: "Spectral SC", serif
    font-weight: 500
    font-style: normal

body
    background-color: #f3f3f3
    color: #333
    font-family: "Besley", serif
    font-style: normal
    font-optical-sizing: auto
    margin-left: auto
    margin-right: auto
    width: 100%
    max-width: 1024px
    line-height: 1.45
    position: relative
    font-size: 16pt

main
    position: relative
    padding-top: 3rem
    padding-bottom: 3rem

    margin-left: 12rem
    margin-right: 2.5rem

    @media (max-width: 1024px)
        margin-left: 0
        margin-right: 1rem
        padding-left: 5rem
        padding-right: 5rem

        body
            font-size: 18pt
        main
            p, li, h1, h2, h3, h4, h5, h6, code
                font-size: 1.1em

code
    font-family: "Space Mono", monospace
    font-weight: 400

code[data-lang="center"]
    display: block
    width: fit-content
    margin: 1rem auto

a
    color: #1d3c96
    text-decoration: none
    transition: color 0.2s ease

    font-weight: 600

    &:hover
        color: #5b68dd

ul
    list-style: square

table
    margin: 0 auto
    width: auto
    border-collapse: separate
    border-spacing: 0
    white-space: nowrap
    border-spacing: 8px 4px

blockquote
    position: absolute
    left: -14rem
    width: 12rem
    text-align: right
    color: #555
    background: none
    white-space: normal
    word-wrap: break-word

    font-family: "Besley", serif
    font-style: normal
    font-optical-sizing: auto
    font-size: 14pt

    border-right: 0.2rem solid #ccc
    padding-right: 0.5rem
    margin: 0
    border-left: none

    @media (max-width: 1024px)
        position: static
        width: auto
        left: auto
        text-align: left

        border-right: none
        padding-right: 0

        border-left: 0.2rem solid #ccc
        padding-left: 0.5rem

    img
        margin: 0
        width: 100%

img
    display: block
    margin: 1.5rem auto
    height: auto
    width: 50%

    border-radius: 0.5rem
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1)

    &::after
        content: attr(title)
        display: block
        text-align: center
        font-size: 0.9rem
        color: #666
        margin-top: 0.5rem
        font-style: italic
